@page
@model BearcatSportsBuyback.Pages.SportingGoods.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SportingGood</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SportingGood.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SportingGood.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SportingGood.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SportingGood.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SportingGood.Sport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SportingGood.Sport.SportName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SportingGood?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
