@page
@model BearcatSportsBuyback.Pages.SportingGoods.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div style="padding-top: 56px">
<h1 class="fw-bolder text-white text-center" style="background-image: url(https://www.color-meanings.com/wp-content/uploads/Red-and-black-stripe-pattern.jpeg); background-size:100% 100%">Sporting Goods List</h1>

<p>
    <a class="btn btn-primary btn-md px-4 me-sm-3" asp-page="Create">Create New Sporting Good</a>
</p>
<table class="table table-hover align-middle mb-0 bg-white">
    <thead class="bg-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SportingGood[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SportingGood[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SportingGood[0].Sport)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SportingGood) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sport.SportName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>