@page
@model BearcatSportsBuyback.Pages.Members.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div style="padding-top: 56px">
<h1 class="fw-bolder text-white text-center" style="background-image: url(https://www.color-meanings.com/wp-content/uploads/Red-and-black-stripe-pattern.jpeg); background-size:100% 100%">Member List</h1>


<p>
    <a class="btn btn-primary btn-md px-4 me-sm-3" asp-page="Create">Create New Member</a>
</p>
<p>
    <a class="btn btn-secondary btn-md px-4 me-sm-3" asp-page="Search">Search</a>
</p>
<table class="table table-hover align-middle mb-0 bg-white">
    <thead class="bg-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].Zip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].Sport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].LeagueInterest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].LeagueName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Member) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sport.SportName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeagueInterest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeagueName.LeagueName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
